<div class="container">
  <h2>Creating front-end application for fhirplace</h2>
  <hr/>

  <p>
  <a href="http://nodejs.org/">node.js</a> is used for development.
  Preferred way to install nodejs is <a href="https://github.com/creationix/nvm#installation">nvm</a> (node version manager).
  </p>

  <p>
  When you have installed node, clone example repository <a href="">fhirbase-empty-plugin</a>:
  </p>

  <pre>
git clone https://github.com/fhirbase/fhirplace-empty-plugin [APP-NAME]
  </pre>

  <p>
   This is a preconfigured application which consists of:
   <ul>
     <li>fhir.js</li>
     <li>angularjs</li>
     <li>coffee</li>
     <li>less</li>
     <li>npm</li>
     <li>bower</li>
     <li>webpack</li>
   </ul>
  </p>

  <p>
  You can publish it on any installation of <a href="">fhirplace</a> server
  </p>
</div>
