<div class="boom">
  <div class="container">
    <div class="row">
      <div class="col-xs-10">
        <h1>fhirbase</h1>
        <h3>Open source stack for Health IT application development based on FHIR standard</h3>
      </div>
      <div class="col-xs-2">
        <i class="icon">L</i>
      </div>
    </div>
  </div>
</div>

<div class="stripe">
  <div class="container">
    <p class="important">
    <b>fhirbase</b> is an open stack of
    libraries and services
    for fast development of healthcare information systems
    </p>
  </div>
</div>

<div class="container">
  <p>
  Huge monolithic systems and vendor locks should become a thing of the past.
  We believe that open standards and open source software are the future of the Health IT.
  <b>fhirbase</b> is a collection of open libraries and services for building
  healthcare information systems.
  We use modern open source technologies as a technical basis (Linux, PostgreSQL, HTML, CSS, JavaScript, Java, Clojure)
  and open FHIR standard as semantic foundation.
  All components form full stack from data layer (fhirbase) to web and mobile applications (fhir.js, formstamp).
  </p>
  <p>
  <b>fhirbase</b> is a part of growing FHIR ecosystem and
  most of its components can be used separately with FHIR compliant technologies.
  </p>

  <div class="row">
    <div class="col-xs-4">
      <h3>User/Client Layer</h3>
      <div class="cnt">
        <p>
        User Interface (front-end) applications are built using
        HTML, CSS and JavaScript using REST API and WebSockets.
        </p>
      </div>
    </div>
    <div class="col-xs-4">
      <h3>Application Layer</h3>
      <div class="cnt">
        <p>
        Business logic, integrations, messaging (HL7 v2, CDA etc), security rules
        </p>
      </div>
    </div>
    <div class="col-xs-4">
      <h3>Data Layer</h3>
      <div class="cnt">
        <p>
         Data consistency, custom queries, analytics and reporting.
         Terminology and dictionary databases.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="stack">
    <div class="layer">
      <h3 class="title">client</h3>

      <div class="apps">

        <div class="app">
          <a href="https://github.com/fhirbase/fhirface"><h3>fhirface</h3></a>
          <div class="cnt">
            <p>generic client for fhir servers</p>
          </div>
        </div>

        <div class="app">
          <a href="https://github.com/FHIR/fhir-terminology"><h3>terminology</h3></a>
          <div class="cnt">
            <p>FHIR ValueSet editor</p>
          </div>
        </div>

        <div class="app">
          <a href="https://github.com/fhirbase/registration-app"><h3>registration</h3></a>
          <div class="cnt">
            <p>example application</p>
          </div>
        </div>

        <div class="app">
          <a href="https://github.com/FHIR/fhir.js"><h3>fhir.js</h3></a>
          <div class="cnt">
            <p>
            JavaScript client library for FHIR
            </p>
          </div>
        </div>

        <div class="app">
          <a href="http://formstamp.github.io/"><h3>formstamp</h3></a>
          <div class="cnt">
            <p>Pure AngularJS widget library designed for rich front-end web applications</p>
          </div>
        </div>
      </div>

    </div>

    <div class="connectors">
      <div class="connector">
        REST api
      </div>

      <div class="connector">
        OAuth
      </div>

      <div class="connector">
        WebSocket
      </div>
    </div>

    <div class="layer">
      <h3 class="title">application</h3>

      <div class="apps">
        <div class="app">
          <a href="https://github.com/fhirbase/fhirplace"><h3>fhirplace</h3></a>
          <div class="cnt">
            <p>FHIR Server implementation powered by fhirbase</p>
          </div>
        </div>

        <div class="app">
          <h3>Message Brokers</h3>
          <div class="cnt">
            <p>TODO: integration with HL7 v2, CDA etc</p>
          </div>
        </div>

        <div class="app">
          <h3>OAuth & OpenID</h3>
          <div class="cnt">
            <p>TODO: authentication & authorization</p>
          </div>
        </div>

        <div class="app">
          <a href="https://github.com/fhirbase/frontier"><h3>frontier</h3></a>
          <div class="cnt">
            <p>build and deploy SPA applications</p>
          </div>
        </div>
      </div>

    </div>

    <div class="connectors">
      <div class="connector">JDBC</div>

      <div class="connector">ODBC</div>

      <div class="connector">Other RDBMS connectors</div>

      <div class="connector">AMPQ</div>
    </div>


    <div class="layer">
      <h3 class="title">data</h3>

      <div class="apps">
        <div class="app">
          <a href="https://github.com/fhirbase/fhirbase"><h3>fhirbase</h3></a>
          <div class="cnt">
            relational storage for FHIR targeting real production.
          </div>
        </div>

        <div class="app">
          <a href="https://github.com/fhirbase/fhirbase-loinc"><h3>terminology</h3></a>
          <div class="cnt">
            LOINC, SNOMED, RX-NORM terminology
            databases
          </div>
        </div>

        <div class="app">
          <h3>Queue Services</h3>
          <div class="cnt">
            TODO:
          </div>
        </div>

        <div class="app">
          <h3>Workflow Engine</h3>
          <div class="cnt">
            TODO:
          </div>
        </div>
      </div>

    </div>


  </div>
</div>


